            /*@font-face {
                font-family: 'digital7';
                src: url('fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.ttf');
                font-style: normal;
            }
            
            @font-face {
                font-family: 'digital14';
                src: url('fonts/7Segment.ttf');
                font-style: normal;
            }*/
            
            html,
            body {
                width: 100%;
                height: 100%;
                margin: 0;
            }
            
            body {
                padding: 0;
                overflow: hidden;
                cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;
                user-select: none;
                background-color: black;
            }
            
            canvas {
                border: 10px rgb(94, 170, 78);
                background-color: rgb(0, 0, 0);
                height: 1080;
                width: 1920;
            }